header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 40px;
    padding: 20px;
}
#startBtn {
    padding: 20px;
    background-color: white;
}
#timer {
}

