* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 40px;
    padding: 20px;
}
#question {
    font-size: larger;
    padding: 10px;
}
#startBtn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}

#timer {
}

#answerContainer {
    display: flex;
    flex-wrap: wrap;
}

button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}
#quiz {
    display: none;
    justify-content: center;
    align-items: center;
    border-color: blue;
    border: solid 5px black;
    border-radius: 10px;

    max-width: fit-content;
}
.quiz {
    align-items: center;
    flex-direction: column;
}

#results {
    display: none;
    align-items: center;
    flex-direction: column;
    border: 10px solid black;
    max-width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

#answerContainer button {
    padding: 20px;
    margin: 20px;
}

#restartBtn {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* not working  */

@media screen and (min-width: 768px) {
     .quiz, #answersection {
        flex-wrap: wrap;
        font-size: larger;
    }
    
}

button {
    margin: 10px;
    padding: 10px;
    grid-template-columns: (2, auto);
    background-color: white;
}

button:hover {
    background-color:  #b47243;
}