@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 40px;
    padding: 20px;
}

.list {
    margin: 5px;
    line-height: 1;
}
#storeData {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #DEB887;
    box-shadow: 5px 5px #aa784d;
    border-radius: 10px;
    font-size: 40px;
    display: none;
}
#question {
    font-size: 50px;
    padding: 10px;

}


.title {
    margin: 5px;
}

#startBtn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #DEB887;
    box-shadow: 5px 5px #aa784d;
    border-radius: 10px;
    font-size: 40px;
}

#timer {
    font-size: 40px;
}

#answerContainer {
    display: flex;
    flex-wrap: wrap;
}

button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #DEB887;
    border-radius: 10px;
    font-size: 40px;
}
#quiz {
    display: none;
    justify-content: center;
    align-items: center;
    border: solid 5px #DEB887;
    border-radius: 10px;
    margin: 20px;
    max-width: fit-content;
}

input {
    margin-bottom: 10px;
}
.quiz {
    align-items: center;
    flex-direction: column;
}

.scoresList {
    line-height: 1;
    margin: 0;
}

#results {
    display: none;
    align-items: center;
    flex-direction: column;
    border: 10px solid #DEB887;
    max-width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

#answerContainer button {
    padding: 20px;
    margin: 20px;
}

#restartBtn {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #DEB887;
    box-shadow: 5px 5px #aa784d;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5e5D6;
}
/* not working  */

@media screen and (min-width: 768px) {
     .quiz, #answersection {
        flex-wrap: wrap;
        font-size: larger;
    }
    
}

button {
    margin: 10px;
    padding: 10px;
    grid-template-columns: (2, auto);
    background-color: white;
}

button:hover {
    background-color:  #b47243;
}